
fxlib/lib/javafx-swt.jar
fxlib/lib/javafx.base.jar
fxlib/lib/javafx.controls.jar
fxlib/lib/javafx.fxml.jar
fxlib/lib/javafx.graphics.jar
fxlib/lib/javafx.media.jar
fxlib/lib/javafx.properties
fxlib/lib/javafx.swing.jar
fxlib/lib/javafx.web.jar
stocks/stockname.json

